{% extends "tra_theme/base.html" %}
{% block title %}Transport Rating{% endblock %}
{% block content %}


<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="content-section">
                        <div class="content-section">
                            <div class="alert alert-info">
                                Your password has been reset

                            </div>
                            <a href="{%url 'login' %}">Sign in Here</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signin ] end -->

    {% endblock content %}
